---
import { Icon } from "astro-icon/components";
import GradientBg from "./GradientBg.astro";

// Props: image, title, description, link
const { image, title, description, link } = Astro.props;
---

<div
  class="flex flex-col p-2 rounded-2xl border backdrop-blur-3xl w-80 min-h-70"
>
  <div class="border rounded-xl overflow-hidden">
    <img src={image} alt={title} class="card-image" />
  </div>
  <div class="flex gap-2 flex-col mt-2 p-2">
    <a href={link} class="card-link" target="_blank" rel="noopener noreferrer">
      <span class="flex flex-row items-center justify-start gap-1">
        <h3 class="text-xl font-bold">{title}</h3>
        <Icon name="arrow-upright" />
      </span>
    </a>
    <p class="text-sm text-foreground/80">{description}</p>
  </div>
</div>
